body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Prioridad para ocultar secciones del navbar */
#navbar a.hidden {
  display: none !important;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar #logo {
  position: absolute;
  margin-left: 300px;
  font-size: 25px;
  color: #ddd;
  line-height: 50px;
}

#sidebar {
  height: 100%;
  width: 200px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #111;
  padding-top: 20px;
  color: white;
  transition: left 0.3s ease;
}

.mainside {
  margin-top: 12px;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.subside {
  margin-top: 6px;
  margin-left: 30px;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

#content {
  margin-left: 0;
  padding: 16px;
  transition: margin-left 0.3s ease;
}

#menu-toggle {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.logout-pos {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: black;
  background-color: #b6b6b6;
  border-radius: 5px;
  z-index: 999;
}

/* Estilos para el modal */
#login-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #e4e3e3;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.mdl-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.loading-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
  text-align: center;
  font-size: 4rem;
  z-index: 2000;
}

.loading-texto {
  margin: auto;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.mdl-content {
  display: none;
  position: fixed;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #e4e3e3;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
}

.mdl-content .center-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mdl-content .center-text {
  margin: 0;
  text-align: center;
}

.entrada, .entrada2, .entrada3, select.entrada {
  width: 80%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-left: 9%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 30px;
}

.entrada2{
  width: 88%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-left: 9%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 30px;
}


select[name="tipo"] {
  width: 90%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-left: 7%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 30px;
}

.texto {
  width: 90%;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-left: 7%;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 30px;
}

form {
  text-align: center;
  width: 90%;
}

.btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-left: 5.5%;
  background-color: #b6b6b6;
}

.btn:hover {
  background-color: #111;
  color: white;
  cursor: pointer;
}

.confP {
  height: 40px;
  float: left;
}

.btnconf {
  width: 70%;
  height: 40px;
  border: none;
  margin: auto;
  border-radius: 5px;
  background-color: #b6b6b6;
}

.btnconf:hover {
  background-color: #111;
  color: white;
  cursor: pointer;
}

.ctrl {
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: none;
  margin-bottom: none;
  background-color: #b6b6b6;
  color: rgb(0, 0, 0);
  font-size: 1.15rem;
  font-weight: bold;
  width: 27px;
  height: 27px;
}

.ctrl:hover {
  background-color: #111;
  color: white;
  cursor: pointer;
}

.ctrlred {
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-left: 10px;
  margin-top: none;
  margin-bottom: none;
  background-color: #cf2d2d;
  color: white;
  font-size: 1.15rem;
  font-weight: bold;
  width: 27px;
  height: 27px;
}

.ctrlred:hover {
  background-color: #2e0303;
  color: white;
  cursor: pointer;
}

.ctrlyel {
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: none;
  margin-bottom: none;
  background-color: #b6b6b6;
  color: rgb(0, 0, 0);
  font-size: 1.15rem;
  font-weight: bold;
  float: right;
  width: 35px;
  height: 35px;
}

.ctrlyel:hover {
  background-color: #111;
  color: white;
  cursor: pointer;
}

.ctrlgrn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: auto;
  background-color: #b6b6b6;
}

.ctrlgrn:hover {
  background-color: #111;
  color: white;
  cursor: pointer;
}

.caja1 {
  width: 800px;
  margin: auto;
}

.izq {
  width: 33%;
  float: inline-start;
}

.derecha {
  width: 55%;
  border-radius: 5px;
  float: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  width: 70%;
  margin: auto;
  padding-bottom: 10%;
}

#nosotros {
  display: none;
}

#wit {
  color: blue;
  font-size: 30px;
}

.card2 {
  width: 50%;
  margin: auto;
  padding: auto;
  margin-top: 50px;
}

#contacto {
  display: none;
}

#entradaSalida {
  display: none;
}

table {
  width: 80%;
  margin: auto;
  border: 1px solid rgb(165, 165, 165);
  border-collapse: collapse;
  text-align: center;
  padding: 0px;
}

th, td {
  border: 1px solid rgb(165, 165, 165);
  border-collapse: collapse;
  padding: 12px;
  font-size: 14px;
  text-align: center;
}

thead {
  background-color: #000000;
  color: white;
}

input[type="file"] {
  width: 100%;
}

h3 {
  color: black;
  font-weight: bolder;
  font-size: 22px;
}

/* Modal for Calendar */
#calendarioModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f1f1f1;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
}

#calendarioModal .calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendarioModal .calendar-header {
  font-size: 18px;
  margin-bottom: 10px;
}

#calendarioModal .calendar {
  display: inline-block;
}

#calendarioModal .btn-close {
  background-color: #cf2d2d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

#calendarioModal .btn-close:hover {
  background-color: #2e0303;
  cursor: pointer;
}

.ctrlgrn {
  background-color: #9c9c9c;
  border: 1px solid #2b2a2a;
  color: #333333;
  padding: 5px 10px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.ctrlgrn:hover {
  background-color: #2e2e2e;
}

input, select {
  height: 40px;
  line-height: 40px;  /* Asegura que el texto se alinee verticalmente */
  padding: 0 10px;  /* Ajusta el padding para asegurar que no se rompa el diseño */
  font-size: 14px;  /* Asegura que el tamaño de la fuente sea consistente */
  border-radius: 5px;  /* Redondea las esquinas */
  border: 1px solid #2b2a2a;  /* Aplica un borde */
  background-color: #ffffff;  /* Fondo blanco */
  color: #333333;  /* Color de texto */
  margin: 5px 0;  /* Añade espacio vertical entre los campos */
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #333;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background: #fff;
}

input[type="checkbox"]:checked + label:before {
  content: '\2713';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.checkbox-btn {
  display: inline-block;
  margin: 10px;
  width: 30%; /* Adjust width to be the same size */
}

.checkbox-btn input[type="checkbox"] {
  display: none;
}

.checkbox-btn span {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background: #fff;
  color: #333;
  cursor: pointer;
  text-align: center;
  width: 60%;
}

.checkbox-btn input[type="checkbox"]:checked + span {
  background-color: #333;
  color: #fff;
}

.checkbox-container {
  text-align: center;
  margin-top: 20px;
  margin-left: 7%; /* Align with other inputs */
}

.center-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.center-text {
  margin: 0;
}
